$primary: #AA2B1D;
$secondary: #CC561E;
$color-1: #EF8D32;
$color-2: #BECA5C;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'color-1': $color-1,
  'color-2': $color-2,
  'white': #ffffff,
  'gray': #6B7280,
  'light-gray': #E5E7EB,
  'black': #000000,
  'transparent': transparent,
);

$breakpoints: (
  'tablet': 640px,
  'laptop': 1024px,
);
