@use 'sass:color';
@import 'variables';
@import 'utilities';

// Main Container
#content {
  max-width: map-get($breakpoints, 'tablet');
  padding: 0 2em;
  width: 100%;
}

@media screen and (min-width: map-get($breakpoints, 'tablet')){
  #content {
    max-width: map-get($breakpoints, 'laptop');
  }
}

@media screen and (min-width: map-get($breakpoints, 'laptop')){
  #content {
    max-width: map-get($breakpoints, 'desktop');
  }
}

// Skip Button
#skip-button {
  position: absolute;
  top: -100px;
  left: 8px;
  z-index: 100;
  transition: top ease-in .5s;
}

#skip-button:focus {
  top: 8px;
}

// Header
#brand, #hero h2 {
  font-family: 'Courgette', cursive;
}

#show-menu {
  min-height: 44px;
}

#show-menu svg {
  height: 2rem;
}

#menu {
  transition: max-height linear .25s;
}

// Hero
#hero {
  height: 250px;
}

#hero-picture {
  position: absolute;
  max-height: 250px;
}

#hero-text {
  position: absolute;
  margin-top: 2.5em;
  max-width: 640px;
  background-color: color.adjust($primary, $alpha: -0.2);
}

// Loading
#loading {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  height: 0;
  width: 0;
  display: none;
}

#loading.show {
  width: 100vw;
  height: 100vh;
  display: flex;
}

#loading img {
  width: 100px;
  height: 100px;
}

// Content
#search,
#search-button {
  min-height: 44px;
}

#search {
  font-size: 1.15rem;
}

#search-button svg {
  height: 1.15rem;
}

@media screen and (min-width: map-get($breakpoints, 'laptop')){
  .pictures {
    height: 200px;
  }
}

// Like Button
like-button > button {
  border-radius: 50%;
}

#detail-like-button-wrapper > .like-button > button {
  position: fixed;
  width: 75px;
  height: 75px;
  bottom: 32px;
  right: 16px;
}

#detail-like-button-wrapper > .like-button svg {
  height: 3em;
}

.card-like-button-wrapper > .like-button svg {
  height: 2em;
}

// Detail
.comment-profile {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
}
